@import "scss/_var";

#floatingWrapper {
	position: fixed;

	top: 30%;

	z-index: 100;
}

#floatingContact {
	left: -18.01em;
}

#floatingMail {
	left: -23.9em;

	margin-top: 55px;
}

#floatingContact:hover, #floatingMail:hover {
	left: 0%;
}

.floatingElem {
	position: fixed;
	display: block;

	height: 50px;
	line-height: 52px;

	padding: 0 5px;

	border: 1px solid grey;
	border-left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	background-color: white;

	transition: left .5s ease-out;

	cursor: pointer;

	color: $blue-color;

	h4 {
		display: inline-block;

		margin: 0;

		color: $blue-color;
	}

	i {
		float: right;

		width: 50px;
		line-height: 49px;

		text-align: center;

		margin-left: 5px;

		border-left: 1px solid grey;
	}
}
