@import "scss/_var";

// HEADER
@media (max-width: 768px) {
	header img {width: 400px !important;}
	header h1 {font-size: 2.5em !important;}
	header h2 {font-size: 1.7em !important;}

	nav {
		border-bottom: 1px solid #8080804d !important;

		background-color: white !important;

		a:hover, a:hover i {color: $blue-color !important;}
	}
}

@media (max-height: 620px) and (min-width: 768px) {
	header {height: 700px !important;}
}

@media (max-height: 500px) and (max-width: 768px) {
	header {height: 550px !important;}
}


// ABOUT SECTION
@media (max-width: 1200px) {
	#About {
		h3 {margin-top: 20px !important;}
		a {margin-top: 15px !important;}
	}
}

@media (max-width: 1200px) {
	#About {
		h3 {margin-top: 20px !important;}
		a {margin-top: 15px !important;}
	}
}

@media (max-width: 1000px) {
	#About {
		img {
			width: 178px !important;
			height: 178px !important;
		}

		h3 {margin-top: 0px !important;}
		a {margin-top: 3px !important;}
	}
}

@media (max-width: 768px) {
	#About {
		img {
			width: 130px !important;
			height: 130px !important;
		}

		h3 {
			font-size: 20px !important;

			padding: 0 20px !important;
		}
	}
}

// Prestations
@media (max-width: 1000px) {
	#Prestations {
		h3 {font-size: 1.3em !important;}
	}
}

// Artisanat
@media (max-width: 1200px) {
	#Artisanat {
		img {display: none !important;}
	}
}

// Contact
@media (max-width: 1200px) {
	#Contact {
		a {font-size: 15px !important;}
		img {width: 60px !important;}
	}
}