<!-- METAS -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, user-scalable=0"/>

<!-- METAS SERP -->
<title>EURL CASME - Plombier DÉPANNAGE 7J/7 Castelnau-le-Lez</title>
<meta name="description" content="EURL CASME, une entreprise de plomberie à votre service pour vos travaux sur Castelnau-le-Lez et ses alentours. URGENCE / DÉPANNAGE: 06.74.73.65.61"/>
<meta name="keywords" content="plombier, castelnau-le-lez, urgence, plomberie, entreprise de plomberie, artisan, montpellier, le crès, jacou, vendargues, mauguio, clapiers, grabels, sos, dépannage, urgent, pas cher, moins cher, traitement de l'eau, traitement de l'air, fuites, économie d'énergie"/>

<!-- CANONICAL -->
<link rel="canoncial" href="https://www.casme.fr">

<!-- OPENGRAPH -->
<meta property="og:locale" content="fr_FR"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="EURL CASME - Plombier DÉPANNAGE 7J/7 Castelnau-le-Lez"/>
<meta property="og:description" content="EURL CASME, une entreprise de plomberie à votre service pour vos travaux sur Castelnau-le-Lez et ses alentours. URGENCE / DÉPANNAGE: 06.74.73.65.61">
<meta property="og:url" content="https://www.casme.fr"/>
<meta property="og:site_name" content="Casme plomberie">
<meta property="og:image" content="https://www.casme.fr/resources/images/logo.png"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />

<!-- LIBS AND FONTS -->
<link rel="stylesheet" type="text/css" href="resources/libraries/css/bootstrap.min.css">

<!-- GOOGLE + PUBLISHER -->
<link href="https://plus.google.com/+CasmeplomberieclimatisationCastelnauleLez" rel="publisher" />