<section id="About" class="bg-primary">
	<div class="container">
		<div class="col-ld-3 col-md-3 col-sm-3 col-xs-3">
			<img alt="Logo Casme" class="About-logo" src="favicon.png" id="img-profile"/>
		</div>
		<div class="col-ld-3 col-md-9 col-sm-9 col-xs-9">
			<h3>EURL CASME, une entreprise artisanale à votre service pour vous accompagner lors de l'étude et la réalisation de tous vos travaux de plomberie, traitement de l'eau et traitement de l'air.</h3>
			<a class="btn btn-default btn-lg page-scroll About-btn" href="#Contact"><i class="icon-paper-plane" aria-hidden="true"></i> Nous contacter</a>
		</div>
	</div>
</section>

<section id="Prestations">
	<div class="container">
		<div class="col-lg-12">
			<h2>Nos Prestations</h2>
			<hr>
		</div>

		<div id="imgPrestationPlomberie" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 Prestation-box Prestation-box-left imgPrestation">
			<img alt="Photo plomberie" src="resources/images/prestations/photo-plomberie.jpg"/>
			<h3>Plomberie</h3>
		</div>
		<div id="imgPrestationSalleDeBain" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 Prestation-box Prestation-box-middle 
		imgPrestation">
			<img alt="Photo salle de bain" src="resources/images/prestations/photo-salle-de-bain.jpg">
			<h3>Salle de bain</h3>
		</div>
		<div id="imgPrestationChauffeEau" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 Prestation-box Prestation-box-middle imgPrestation">
			<img alt="Photo chauffe-eau" src="resources/images/prestations/photo-chauffe-eau.jpg">
			<h3>Chauffe-eau</h3>
		</div>
		<div id="imgPrestationTraitementEau" class="col-lg-2 col-md-2 col-sm-2 col-xs-12  Prestation-box Prestation-box-middle
		imgPrestation">
			<img alt="Photo adoucisseur" src="resources/images/prestations/photo-adoucisseur.png">
			<h3>Traitement de l'eau</h3>
		</div>
		<div id="imgPrestationTraitementAir" class="col-lg-2 col-md-2 col-sm-2  col-xs-12 Prestation-box Prestation-box-right
		imgPrestation">
			<img alt="Photo vmc" src="resources/images/prestations/photo-vmc.jpg">
			<h3>Traitement de l'air</h3>
		</div>
	</div>
</section>

<section id="PrestationPlomberie" class="PrestationElem PrestationActive">
	<div class="container">
		<div class="col-lg-3 col-md-3">
			<img alt="Photo plomberie" src="resources/images/prestations/photo-plomberie.jpg"/>
		</div>
		<div class="col-lg-9 col-md-9">
			<h3><b>Plomberie - Sanitaire</b><br><br>Nous réalisons l'étude, la création ou la rénovation 
de vos réseaux de plomberie,  
nous intervenons également dans la pose, le remplacement ou l'entretien 
de votre installation sanitaire.</h3>
		</div>
	</div>	
</section>

<section id="PrestationSalleDeBain" class="PrestationElem">
	<div class="container">
		<div class="col-lg-3 col-md-3">
			<img alt="Photo salle de bain" src="resources/images/prestations/photo-salle-de-bain.jpg"/>
		</div>
		<div class="col-lg-9 col-md-9">
			<h3><b>Salle de bain</b><br><br>Vous avez envie d'une nouvelle salle de bain?
Nous sommes à vos côtés pour la création, rénovation ou mise en accessibilité, nous trouverons la solution la plus adaptée à vos besoins, 
du simple remplacement de sanitaires, aux salles de bains les plus design, 
notre seule limite étant votre imagination.</h3>
		</div>
	</div>	
</section>

<section id="PrestationChauffeEau" class="PrestationElem">
	<div class="container">
		<div class="col-lg-3 col-md-3">
			<img alt="Photo chauffe-eau" src="resources/images/prestations/photo-chauffe-eau.jpg"/>
		</div>
		<div class="col-lg-9 col-md-9">
			<h3><b>Chauffe-eau</b><br><br>Nous intervenons pour la pose, le remplacement et l'entretien 
de votre chauffe-eau. Nous vous conseillerons également sur le choix le plus adapté à vos besoins,
du chauffe-eau basique au plus élaboré 
(Blindé, Steatite, thermodynamique).</h3>
		</div>
	</div>	
</section>

<section id="PrestationTraitementEau" class="PrestationElem">
	<div class="container">
		<div class="col-lg-3 col-md-3">
			<img alt="Photo adoucisseur" src="resources/images/prestations/photo-adoucisseur.png"/>
		</div>
		<div class="col-lg-9 col-md-9">
			<h3><b>Traitement de l'eau</b><br><br>Notre région étant l'une des plus calcaires de France, cela engendre une surconsommation d'énergie et réduit la durée de vie de votre robinetterie ainsi que de votre électroménager. Pour améliorer la qualité de votre eau (calcaire, purification) 
nous avons la solution adaptée à vos besoins (Adoucisseur, Osmoseur, Traitement Uv). N'hésitez pas à demander votre test bandelette gratuitement via notre fiche contact.</h3>
		</div>
	</div>	
</section>

<section id="PrestationTraitementAir" class="PrestationElem">
	<div class="container">
		<div class="col-lg-3 col-md-3">
			<img alt="Photo vmc" src="resources/images/prestations/photo-vmc.jpg"/>
		</div>
		<div class="col-lg-9 col-md-9">
			<h3><b>Traitement de l'air</b><br><br>Saviez-vous que l'air de votre maison pourrait être jusqu'à 100 fois plus pollué que l'air extérieur ?
La VMC (Ventilation mécanique contrôlée) assure le renouvellement de l'air à l'intérieur de votre maison. Moins d'humidité, moins de bactéries et une meilleure qualité de l'air, de la VMC simple flux à la VMC double flux Associé a Votre système de chauffage, nous trouverons la solution idéale.</h3>
		</div>
	</div>	
</section>

<section id="Artisanat">
	<div class="container">
		<div class="col-lg-12">
			<h2>L'Artisanat - Un savoir faire</h2>
			<hr>
		</div>
		<div class="col-lg-3 col-lg-offset-1">
			<img alt="Logo artisan" src="resources/images/artisanat/logo-artisan.png"/>
			<img alt="Logo axa" src="resources/images/artisanat/logo-axa.png"/>
		</div>
		<div class="col-lg-7 col-lg-offset-1 col-xs-10 col-xs-offset-1">
			<h3><i class="icon-shield fontello-2x" aria-hidden="true"></i>PROFESSIONNALISME</h3>
			<p>Artisans diplomés du bâtiment, nous travaillons dans les règles de l'art conformément à la réglementation DTU 60.1</p>
			<h3><i class="icon-star fontello-2x" aria-hidden="true"></i>UN TRAVAIL DE QUALITE</h3>
			<p>Un accompagnement personnalisé de la totalité de votre projet dans le but de vous satisfaire pleinement.</p>
			<h3><i class="icon-award fontello-2x" aria-hidden="true"></i>CERTIFICATION</h3>
			<p>Nous continuons à nous former aux nouvelles réglementations, innovations et énergies, le bâtiment évolue, nous aussi !</p>
			<h3><i class="icon-handshake-o fontello-2x" aria-hidden="true"></i> ASSURANCE</h3>
			<p>L'assurance de responsabilité décennale est une obligation 
pour toute entreprise de construction, 
pour cela nous avons fait appel à un groupe Reconnu: "AXA".</p>
			<h3><i class="icon-euro fontello-2x" aria-hidden="true"></i>DES PRIX CONCURRENTIELS</h3>
			<p>Nous nous adaptons à vos finances grâce à notre large gamme de matériaux.</p>
		</div>
	</div>
</section>
