<section id="Contact">
	<div class="container">
		<div class="col-lg-12">
			<h2>Pour nous contacter?</h2>
			<hr>
		</div>

		<div class="col-lg-12 contact-item contact-item-right">
			<a target="_blank" class="col-lg-3 col-md-3 col-sm-3 col-xs-3" href="https://www.facebook.com/casme.plomberie">
				<img src="resources/images/contact/logo-facebook.svg" alt="Logo Facebook" title="https://www.facebook.com/casme.plomberie"><br>
				Facebook
			</a>
			
			<a target="_blank" class="col-lg-3 col-md-3 col-sm-3 col-xs-3" href="https://plus.google.com/+CasmeplomberieclimatisationCastelnauleLez">
				<img src="resources/images/contact/logo-google-plus.svg" alt="Logo Google plus" title="https://plus.google.com/+CasmeplomberieclimatisationCastelnauleLez"/><br>
				Google +
			</a>
			
			<a href="mailto:Contact@Casme.fr" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<img src="resources/images/contact/icon-mail.svg" alt="Icon mail" title="Contact@Casme.fr"><br>
				Contact@Casme.fr
			</a>
			
			<a href="tel:0674736561" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<img src="resources/images/contact/icon-phone.svg" alt="Icon phone" title="06 74 73 65 61"><br>
				06 74 73 65 61
			</a>
		</div>

		<iframe class="col-lg-12 col-md-12 col-sm-12 col-xs-12" width="600" height="450" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Casme%2034170&key=AIzaSyCPvcpNcod0_PZv3ulYZ1iCuwZT9qajLds" allowfullscreen></iframe>
	</div>
</section>