<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header page-scroll background">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#header" class="navbar-brand page-scroll">Accueil</a>
		</div>
		<div class="navbar-collapse collapse" aria-expanded="false" id="navbar" role="heading">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#About"><i class="icon-help-circled" aria-hidden="true"></i> A propos</a></li>
				<li><a href="#Actualites"><i class="icon-newspaper" aria-hidden="true"></i> Actualités</a></li>
				<li><a href="#Prestations"><i class="icon-camera" aria-hidden="true"></i> Nos prestations</a></li>
				<li><a href="#Artisanat"><i class="icon-user" aria-hidden="true"></i> L'Artisanat</a></li>
				<li><a href="#Contact"><i class="icon-paper-plane" aria-hidden="true"></i> Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<header id="header">
	<div class="header-content">
		<div class="header-content-inner background">
			<img alt="Logo Casme" src="resources/images/header/logo-casme.png"/>
			<h2>EURL CASME</h2>
			<hr>
			<h1>Plomberie Neuf et Renovation</h1>
			<a class="btn btn-primary btn-lg page-scroll" href="#About">En savoir plus</a>
		</div>
	</div>
</header>