<!-- METAS -->
<meta charset="UTF-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
<meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, user-scalable=0"/>

<!-- METAS SERP -->
<meta name="keywords" content="plombier, plomberie, dépannage, urgence, castelnau-le-lez, casme, artisan"/>
<meta name="description" content="EURL CASME, Une entreprise artisanale à votre service pour tous vos travaux de plomberie sur Castelnau-le-Lez et ses alentours."/>
<meta name="author" content="Maxime Morlet"/>
<meta name="robots" content="index"/>

<!-- OPENGRAPH -->
<meta property="og:title" content="EURL CASME - Plomberie DÉPANNAGE 7J/7 Castelnau-le-Lez"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="EURL CASME, Une entreprise artisanale à votre service pour tous vos travaux de plomberie sur Castelnau-le-Lez et ses alentours.">
<meta property="og:url" content="https://www.casme.fr"/>
<meta property="og:image" content="https://www.casme.fr/resources/images/logo.png"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />

<!-- LIBS AND FONTS -->
<link rel="stylesheet" type="text/css" href="resources/libraries/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="resources/libraries/css/animate.min.css">

<!-- GOOGLE + PUBLISHER -->
<link href="https://plus.google.com/+CasmeplomberieclimatisationCastelnauleLez" rel="publisher" />

<!-- TITLE -->
<title>EURL CASME - Plomberie DÉPANNAGE 7J/7 Castelnau-le-Lez</title>