@import '../../helpers/_variables';
@import '../../helpers/_mixins';

#a_propos, #actualites, #prestations, #contact, #artisanat {
	padding: 70px 0;

	text-align: center;

	h2, h3, p, i {color: #333;}
	h2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

#a_propos {
	background-color: $blue-color;

	p {
		margin-top: 30px;
		margin-bottom: 0px;

		font-size: 20px;

		color: white;

		@include transition('margin-top, font-size', .3s, ease);
	}

	a {
		opacity: 0;
		margin-top: 30px; 

		border-radius: 10px;
	}

	img {
		width: 200px;
		height: 200px;

		border-radius: 15%;

		opacity: 0;

		@include transition('width, height', .3s, ease);
	}
}

#actualites {
	background-color: #2c3e50;

	.container:not(:first-child) .actualite {
		margin-top: 20px;
	}
	
	.col-lg-12 {
		h2 { color: white !important; }
	}

	.col-lg-4 {
		img {
			width: 85%;
			height: 100%;

			border-radius: 10px;

			@include transition('width', .3s, ease);
		}
	}

	.col-lg-8 {
		text-align: left;

		@include transition('padding', .3s, ease);

		h3 {
			margin-top: 25px;

			font-size: 23px;
			font-weight: bold;

			@include transition('margin-top, font-size', .3s, ease);
		}

		p { @include transition('font-size', .3s, ease); }
		p, h3 {	color: white !important; }
	}

	hr { background-color: white; }
}

#prestations {
	padding: 70px 0 35px 0;

	.Prestation-box {margin-top: 0px;}
	.Prestation-box-left, .Prestation-box-middle, .Prestation-box-right {opacity: 0;}

	img {
		width: 100px;
		height: 100px;

		border: 2px solid $blue-color;
		border-radius: 50%;

		@include transition('filter', .3s, ease);
	}

	img:hover {
		cursor: pointer;

		filter: saturate(400%);
	}

	h3 {
		margin-top: 10px;

		font-size: 16px;

		@include transition('font-size', .3s, ease);
	}
}

.PrestationElem {
	display: none;

	padding-bottom: 35px;

	text-align: center;

	img {
		border: 2px solid $blue-color;

		width: 250px;
		height: 250px;
	}

	p {
		font-size: 18px;

		padding-left: 15px;
	}

	h3 {
		margin-top: 20px;
		margin-bottom: 20px;

		@include transition('margin-left', .3s, ease); 
	}
}

.PrestationActive {
	display: block;
}

#artisanat {
	background-color: $blue-color;

	list-style: none;

	h3 {
		margin-top: 10px;
		margin-bottom: 10px;

		text-align: left;
	}

	p {
		padding-left: 50px;

		font-size: 1.2em;
		
		text-align: left;
	}

	hr {
		background-color: white;
		border-color: white;
	}

	img:first-child {
		width: 300px;
		height: 195px;

		margin-top: 40px;
	}

	img:last-child {
		width: 200px;
		height: 200px;

		margin-top: 70px;
		margin-left: 50px;
	}

	i {
		margin-right: 10px;

		vertical-align: middle;
	}

	h3, h2, p, i {color: white;}
}