#Contact {
	.contact-item {
		visibility: hidden;

		line-height: 75px;

		margin: 20px 0;
	}

	img {
		width: 75px;
		height: 75px;

		margin-right: 10px;

		transition: 0.1s all ease-in;
	}

	img:hover {
		width: 82px !important;
		height: 82px !important;
	}

	a {
		display: block;

		margin-bottom: 10px;

		font-size: larger;
		font-weight: bold;

		text-align: center;
	}


}