@import '../../helpers/_mixins';

#Contact {
	.contact-item {
		visibility: hidden;

		line-height: 75px;

		margin: 20px 0;
	}

	img {
		width: 75px;
		height: 75px;

		margin-right: 10px;

		@include transition('width', .3s, ease);
	}

	a {
		display: block;

		margin-bottom: 10px;

		font-size: larger;
		font-weight: bold;

		text-align: center;

		@include transition('font-size', .3s, ease);
	}


}