@import '../../helpers/_mixins';

#contact {
	.contact-item {
		visibility: hidden;

		line-height: 60px;

		margin: 20px 0;
	}

	img {
		display: inline-block;

		width: 75px;
		height: 75px;

		@include transition('width', .3s, ease);
	}

	a {
		display: block;

		font-size: larger;


		text-align: center;

		@include transition('font-size', .3s, ease);

		&:hover img { width: 70px; }
	}
}