@import "../../helpers/_variables";
@import '../../helpers/_mixins';

nav {
	border-bottom: 1px solid rgba(128, 128, 128, .35) !important;

	background-color: white !important;

	text-transform: uppercase;

	a, i {
		color: #222222 !important;

		@include transition('font-size, color', .3s, ease);
	}

	a:hover, a:hover i{ color: $blue-color !important; }
}


header {
	width: 100%;
	height: 100%;

	text-align: center;

	.header-content {
		position: relative;
		top: 15%;
		
		.header-content-inner {
			h2 {
				margin: 0;
				
				font-weight: bold;
				font-size: 3em;

				@include transition('font-size', .3s, ease);
			}

			h1 {
				margin-bottom: 20px;

				font-size: 2.2em;

				@include transition('font-size', .3s, ease);
			}

			a {
				border-radius: 5px;

				background-color: $blue-color;
			}

			img {
				width: 600px;

				@include transition('width', .3s, ease);
			}

			hr { margin: 15px auto; }
		}
	}
}