@import "../../helpers/_variables";

@media (max-width: 1200px) {
	#About {
		h3 { margin-top: 20px !important; }
		a { margin-top: 15px !important; }
	}

	#Prestations {
		h3 { font-size: 1.3em !important; }
	}

	.PrestationElem {
		h3 { margin-left: 30px !important; }
	}

	#Artisanat {
		img { display: none !important; }
	}

	#Contact {
		a { font-size: 15px !important; }
		img { width: 60px !important; }
		img:hover { width: 67px !important; }
	}
}

@media (max-width: 992px) {
	#About {
		img {
			width: 178px !important;
			height: 178px !important;
		}

		h3 { margin-top: 0px !important; }
		a { margin-top: 10px !important; }
	}
}

@media (max-width: 768px) {
	header {
		img { width: 400px !important; }
		h2 { font-size: 2.5em !important; }
		h1 { font-size: 1.7em !important; }
	}

	nav {
		border-bottom: 1px solid rgba(128, 128, 128, .35) !important;

		background-color: white !important;

		a:hover, a:hover i { color: $blue-color !important; }
	}

	#About {
		img {
			width: 130px !important;
			height: 130px !important;
		}

		h3 {
			font-size: 20px !important;

			padding: 0 20px !important;
		}
	}

	#Contact {
		a { font-size: 10px !important; }
	}
}

@media (max-height: 620px) and (min-width: 768px) {
	header {height: 700px !important;}
}

@media (max-height: 500px) and (max-width: 768px) {
	header {height: 550px !important;}
}