<section id="About" class="bg-primary">
	<div class="container">
		<div class="col-lg-8 col-lg-offset-2">
			<h3>EURL CASME Un artisan plombier à votre service pour tous vos soucis de plomberie, climatisation sur Castelnau le lez et ses alentours DÉPANNAGE 7J/J<br></h3>
			<a id="About-btn" class="btn btn-default btn-lg page-scroll" href="#Contact"><i class="fa fa-paper-plane" aria-hidden="true"></i> Nous contacter</a>
		</div>
	</div>
</section>
<section id="Services">
	<div class="container">
		<div class="col-lg-12">
			<h2>Nos Services</h2>
			<hr>
		</div>
	</div>
	<div class="container">
		<div class="col-lg-3 col-md-6 service-box-left">
			<div class="service-box">
				<i class="fa fa-4x fa-file-text-o" aria-hidden="true"></i>
			</div>
			<h3>Réalisation de devis</h3>
			<p>Blablabla, les devis c'est génial.</p>
		</div>
		<div class="col-lg-3 col-md-6 service-box-left">
			<div class="service-box">
				<i class="fa fa-4x fa-cubes" aria-hidden="true"></i>
			</div>
			<h3>Pose des matériaux</h3>
			<p>Ouaiiiis trop cool, ça aussi.</p>
		</div>
		<div class="col-lg-3 col-md-6 service-box-right">
			<div class="service-box">
				<i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
			</div>
			<h3>Sérrage de main</h3>
			<p>Après on se serre la main pour féter la fin du chantier, c'est cool.</p>
		</div>
		<div class="col-lg-3 col-md-6 service-box-right">
			<div class="service-box">
				<i class="fa fa-4x fa-wrench" aria-hidden="true"></i>
			</div>
			<h3>Maintenance</h3>
			<p>En cas de problème ou de demande d'information, je suis à votre disposition 7/7j pour vous aider.</p>
		</div>
	</div>
</section>
<section id="Realisation">
	<div class="container">
		<h2>Nos réalisations</h2>
		<hr>
		<div class="col-lg-6 col-md-6 realisation-box-left">
			<div class="realisation-box">
				<a href="/images/realisations/realisation0.png"><img src="/images/realisations/realisation0.png"></a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 realisation-box-right">
			<div class="realisation-box">
				<a href="/images/realisations/realisation1.png"><img src="/images/realisations/realisation1.png"></a>
			</div>
		</div>
	</div>
</section>
<section id="Whoami">
	<div class="container">
		<div class="col-lg-6 col-lg-offset-3">
			<img src="favicon.png" id="img-profile"/>
			<h2>Casme Plomberie</h2>
			<p>EURL CASME Un artisan plombier à votre service pour tous vos soucis de plomberie, climatisation sur Castelnau le lez et ses alentours DÉPANNAGE 7J/J</p>
		</div>
	</div>
</section>