<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header page-scroll background">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#header" class="navbar-brand page-scroll">Accueil</a>
		</div>
		<div class="navbar-collapse collapse" aria-expanded="false" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#About"><i class="fa fa-question-circle-o" aria-hidden="true"></i> À propos</a></li>
				<li><a href="#Prestations"><i class="fa fa-camera" aria-hidden="true"></i> Nos prestations</a></li>
				<li><a href="#Artisanat"><i class="fa fa-user" aria-hidden="true"></i> L'Artisanat</a></li>
				<li><a href="#Contact"><i class="fa fa-paper-plane" aria-hidden="true"></i> Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<header id="header">
	<div class="header-content">
		<div class="header-content-inner background">
			<img title="Logo Casme" Alt="Logo Casme" src="ressources/logo/logo.png"/>
			<h1>EURL CASME<br></h1>
			<hr>
			<h2><b>Plomberie Neuf et Renovation</b></h2>
			<a class="btn btn-primary btn-lg page-scroll" href="#About">En savoir plus</a>
		</div>
	</div>
</header>