	<!-- Metas -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, user-scalable=0"/>

	<!-- Metas SEO -->
	<meta name="keywords" content="France, Castelnau-le-Lez, Montpellier, Urgence, Plomberie"/>
	<meta name="description" content="EURL CASME, Une entreprise artisanale à votre service pour tous vos travaux de plomberie sur Castelnau-le-Lez et ses alentours."/>
	<meta name="author" content="Maxime Morlet"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="robots" content="all"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- opengraph -->
	<meta property="og:title" content="EURL CASME - Plomberie DÉPANNAGE 7J/7 Castelnau-le-Lez"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="EURL CASME, Une entreprise artisanale à votre service pour tous vos travaux de plomberie sur Castelnau-le-Lez et ses alentours.">
	<meta property="og:url" content="https://www.casme.fr"/>
	<meta property="og:image" content="https://www.casme.fr/favicon.png"/>
	<meta property="og:locale" content="fr_FR"/>

	<!-- Google+ publisher -->
	<link href="https://plus.google.com/+CasmeplomberieclimatisationCastelnauleLez" rel="publisher" />

	<!-- Important stylesheets -->
	<link rel="stylesheet" type="text/css" href="styles/loader.css"/>

	<!-- Icon -->
	<link rel="icon" href="/favicon.png"/>

	<!-- Title -->
	<title>EURL CASME - Plomberie DÉPANNAGE 7J/7 Castelnau-le-Lez</title>